body{
    background-color: beige;
}

.topnav-right {
    float: center;
}

.image-Header{
    width: 100%;
    height: 400px;
    
}

.profile-Image{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-items: center;
}

h2{
    text-align: center;
}

section{
    align-items: center;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
    
}

.image2 {
    position: absolute;
    
    top: 15%;
    left: 25%;
    right: 25%;

}

.text1 {
    margin-left: 10%;
}

.cont{
    Clear: both;
    width: 100%;
    height: 50px;
    background-color: lightgrey;
}

.cont-margin, #h1{
    margin: 25px 50px 75px 80px;
    font-size: 17px;
}

.gallery-text {
    float: left;
    width: 40%;
    margin: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    word-break:normal;
}

#gallery-text {
    word-break:normal;
    height: 20%;
    border: 1px solid;
    width: 100%;
    height: 260px;
    
}

p.spacing {
    line-height: 1.7;
}

label.x1{
    margin-left: 50px;
}

.bar{
    width: 92%;
}

.divcolor{
    background-color: azure;
}